{% extends 'layouts/base.html' %}

{% block title %} Maps {% endblock title %}

{% block content %}

<body class="d-flex align-items-center justify-content-center vh-100">

    <div class="container">
        <h1 class="text-center mb-4">Formulário</h1>
        <form>
            <div class="form-row">
                <div class="col-md-6 mx-auto mb-3">
                    <label for="validationServer01">Número</label>
                    <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Número" value="Mark" required>
                    <div class="valid-feedback"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mx-auto mb-3">
                    <label for="validationServer02">Mensagem</label>
                    <textarea class="form-control is-valid" id="validationServer02" placeholder="Digite sua mensagem" required></textarea>
                    <div class="valid-feedback"></div>
                </div>
            </div>
            
            <div class="form-row">
                <div class="col-md-6 mx-auto">
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
{% endblock javascripts %}

 